body {
    font-family: Arial;
    text-align: center;
}

.Card {
    background-color: #282c34;
    color: white;
    margin-bottom: 1em;
}

.Card:hover{
    background-color: #522b56;
    cursor: pointer;
}

.CardBox{
    display: flex;
    flex-direction: column;
}
